<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Puntos de ventas</h1>

      <table class="table table-hover table-sm mt-3">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Centro de Costo</th>
            <th>Tecnologia</th>
            <th>Observacion</th>
            <th>Ip Radio</th>
            <th>Ip Telefono</th>
            <th>Ip Computador</th>
            <th></th>
          </tr>
        <% @point.each do |point| %>
        <tr>
          <td><%= point.id %></td>
          <td><%= link_to point.name, point %></td>
          <td><%= point.ccosto %></td>
          <td><%= point.tecnologia %></td>
          <td><%= point.observacion %></td>
          <td><%= point.ipradio %></td>
          <td><%= point.iptele %></td>
          <td><%= point.ipcom %></td>
          <td>
            <% if signed_in? %>
              <%= link_to "Editar", edit_point_path(point) %>
              <%= link_to "Eliminar", point, method: :delete, data: { confirm: "Se eliminara este punto" } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-sm-3">
      <form>
        <div class="input-group input-group-sm mt-3">
          <input type="text" class="form-control" placeholder="Buscar punto de venta">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </form>

      <% if signed_in? %>
      <div class="container d-flex justify-content-end m-3">
        <%= link_to "Nuevo punto de venta", new_point_path, class: "btn btn-danger" %>
      </div>
      <% end %>
    </div>

  </div>
</div>
