<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Puntos de ventas</h1>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Centro de Costo</th>
          <th>Tecnologia</th>
          <th>Observacion</th>
          <th>Ip Radio</th>
          <th>Ip Telefono</th>
          <th>Ip Computador</th>
        </tr>
        <% @points.each do |point| %>
        <tr>
          <td><%= point.id %></td>
          <td><%= point.name %></td>
          <td><%= point.ccosto %></td>
          <td><%= point.tecnologia %></td>
          <td><%= point.observacion %></td>
          <td><%= point.ipradio %></td>
          <td><%= point.iptele %></td>
          <td><%= point.ipcom %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
