<div class="point-page">
  <header class="point-header">
    <h1><%= @point.name %></h1>
    <p><%= @point.ccosto %></p>

    <% if signed_in? && @point.user == current_user %>
      <div class="actions">
        <%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_point_path(@point) %>
        <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, @point, method: :delete, data: { confirm: "Se eliminara el registro" } %>
      </div>
    <% end %>

  </header>
</div>

<div class="container">
  <div class="row border border-bottom bg-light shadow rounded">

    <div class="col-sm">
      <div class="points">
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title">TECNOLOGIA</span>
            <span class="point-description"><%= @point.tecnologia %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="points">
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title">OBSERVACION</span>
            <span class="point-description"><%= @point.observacion %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="points">
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title">IP RADIO</span>
            <span class="point-description"><%= @point.ipradio %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="points">
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title">IP TELEFONO</span>
            <span class="point-description"><%= @point.iptele %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="points">
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title">IP COMPUTADOR</span>
            <span class="point-description"><%= @point.ipcom %></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
